#main-head{
    height: calc(100vh - 54px);
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg');
    background-size: cover;
}

.page-section{
    padding: 6rem 0;
}

.section-heading{
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-subheading{
    margin-bottom: 4rem;
}